{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css" integrity="sha256-y4TDcAD4/j5o4keZvggf698Cr9Oc7JZ+gGMax23qmVA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'reserve/style.css' %}" />
</head>
<body>
    <div class="container">
        <p>logged in as: {{ user.get_username }} <a href ="/logout">logout</a></p> 
        <h4>Don't reserve during the meetings! Check the main website for meeting/event times.</h4>
        <button type="button" class="btn btn-secondary pull-xs-left prev-week">Previous Week</button>
        <button type="button" class="btn btn-secondary pull-xs-right next-week">Next Week</button>
        <table class="table">
            <thead>
                <tr>
                    <th>time</th>
                {% for day in days %}
                    <th>{{ day.month }} / {{ day.day }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for slot in slots %}
                <tr>
                    <th>{{ slot.0|date:"g:iA" }} - {{ slot.1|date:"g:iA" }}</th>
                    {% for i in "1234567" %}
                    <td>
                        <button type="button" class="btn btn-secondary reserve">Reserve</button>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {% csrf_token %}
        
        {% for reservation in reservations %}
            <div class="reservation" data-reservation="{{ reservation }}"></div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js" integrity="sha256-De/cgZoAkgvqoxL9yJpJzPHyozUETFnSv7EQGfQWQ4o=" crossorigin="anonymous"></script>
    <script src="{% static 'reserve/main.js' %}"></script>
</body>
</html>
